{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: t79-prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      - job_name: 'backend'
        static_configs:
          - targets: ['t79-backend:8000']
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: t79-prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: t79-prometheus
  template:
    metadata:
      labels:
        app: t79-prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus
          args:
            - --config.file=/etc/prometheus/prometheus.yml
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
      volumes:
        - name: prometheus-config
          configMap:
            name: t79-prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: t79-prometheus
spec:
  selector:
    app: t79-prometheus
  ports:
    - name: http
      port: 9090
      targetPort: 9090
{{- end }}
