apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: secops-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  tls:
    - hosts:
        - {{ .Values.domain }}
      secretName: secopsai-tls
  rules:
    - host: {{ .Values.domain }}
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: secops-backend
                port:
                  number: 8000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: secops-frontend
                port:
                  number: 3000
